<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Confirme seu Endereço de E-mail</title>
    </head>
    <body
        style="
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #333;
            margin: 0;
            padding: 0;
        "
    >
        <div style="max-width: 600px; margin: 0 auto; padding: 20px">
            <img
                src="https://i.imgur.com/0s162M3.png"
                alt="Logo Corrigi AI"
                style="text-align: center; height: auto"
            />
            <hr />

            <h3 style="text-align: start; color: #007bff">
                Confirme Seu Endereço de E-mail
            </h3>

            <p>Olá, <strong>[name]</strong></p>

            <p>
                Para concluir o processo de registro, clique no link abaixo para
                verificar seu endereço de e-mail:
            </p>
            <br />
            <p>Se você não se registrou no corrigiAI, ignore este e-mail.</p>

            <p
                style="
                    text-align: center;
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #007bff;
                    color: #fff;
                    border-radius: 5px;
                "
            >
                [link]
            </p>

            <p>
                Atenciosamente,<br />
                <strong>@Equipe - corrigiAI</strong><br />
            </p>
        </div>
    </body>
</html>
